<div class="image-wrapper">
    <img src="@ImageUrl"
         class="ms-5"
         style="@GetImageStyle()"/>
</div>

<div class="mt-3 text-center">
    <button class="btn btn-primary me-2" @onclick="Rotate">🔄 Повернуть</button>
    <button class="btn btn-secondary" @onclick="Close">Закрыть</button>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public string? ImageUrl { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private int RotationDeg { get; set; } = 0;

    private void Rotate()
    {
        RotationDeg = (RotationDeg + 90) % 360;
    }

    private async Task Close() => await BlazoredModal.CloseAsync();

    private string GetImageStyle()
    {
        return $"transform: rotate({RotationDeg}deg); " +
               $"transition: transform 0.3s ease-in-out; " +
               $"width: auto; height: auto; " +
               $"max-width: 75vw; max-height: 70vh; " +
               $"display: block; margin: 0 auto; " +
               $"object-fit: contain; transform-origin: center center;";
    }

}