@page "/"

@using BarcodeDecodeFrontend.Data.Services
@using BarcodeDecodeLib
@inject BarcodeDecoder Decoder;


<div class="container">
    <div class="row">
        <div class="col-md-5 border-end">
            <h3>Загрузка изображения</h3>
            <div class=" control-group">
                <InputFile class="form-control restricted-width" OnChange="LoadFiles" multiple/>
                @if (_recognizedBarcodes.Count > 0)
                {
                    <h3 class="mt-4">Проверьте корректность</h3>
                    @foreach (var barcode in _recognizedBarcodes)
                    {
                        var element = _recognizedBarcodes.First(x => x == barcode);
                        <input class="form-control w-75" @bind="element" type="text"/>
                    }
                }
                <input class="btn-primary btn" type="button" @onclick="@OnBarcodeSubmit" value="Submit"/>
            </div>
        </div>

        <div class="col-md-5 ms-5">
            <h3>Загрузка видео</h3>
        </div>
    </div>
</div>